**/*.pyc
**/*.swp
MANIFEST
*.egg*
*.ipynb_checkpoints
trained_models
**/data/yolact/
/.vscode
build/
**/dtdseamless/
/ros_support/build
/ros_support/devel
/ros_support/logs
/ros_support/.catkin_tools
**/.directory
/vae_datasets/